/model_persistence_service/export
/tmp
/node-storage
/startup
/log
/model_persistence_service/log
/lib
etc/ivy/ivy.jar
/service
/etc/startup
*.iml
/.idea
restMapping.xml
/out
/output/
/model_persistence_service/output/
/.DS_Store
.project
.settings
.classpath

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
